.book{
    width: 200px;
    height: 200px;
    margin: 0;
}

.book-shelf{
    display: flex;
}

.main-container{
    display: grid;

}

#input-book-form{
    display: flex;
    flex-direction: column;
}

img{
    width: 50px;
}